body {
    padding-left: 25px;
    background-color: rgb(137, 98, 141);
}

h1 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

.titles {
    display: flex;
    position: relative;
    width: 20%;
    font-size: 2em;
    font-family: 'Cardo', serif;
    border-right: solid;
    border-width: 8px;
    border-radius: 15px;
    margin-bottom: 20px;
}

nav {
    position: absolute;
    top: 25px;
    right: 25px;
    list-style-type: none;
    padding: 2px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

nav li {
    padding-left: 25px;
    font-size: 20px;
}

li {
    display: inline;
}

.card-big {
    display: flex;
    position: relative;
    flex: 1 0 0;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-left: 25px;
  }

.bottom-left {
    position: relative;
    text-align: left;
    bottom: 68px;
    left: 385px;
    font-size: 20px;
    font-weight: bold;
}

#self-pic {
    height: 200px;
}

#about-me {
    display: flex;
    position: relative;
    padding-left: 25px;
    font-size: 25px;
}

.container {
    display: flex;
    flex: 0 1 0;
    position: relative;
    align-items: center;
    height: 100%;
    width: 95%;
    padding-left: 50px;
}

#my-work {
    height: 100%;
    width: 95%;
}

#contact-me {
    display: flex;
    position: relative;
    font-size: 25px;
    padding-left: 25px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

.no-dec {
    text-decoration: none;
    color: black;
}

.logos {
    height: 50px;
}

