body {
    padding: 25px;
}

h1 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

.titles {
    width: 20%;
    font-size: 2em;
    font-family: 'Cardo', serif;
    border-right: solid;

}

nav {
    float: right;
    display: block;
    list-style-type: none;
    padding: 2px;
}

li {
    display: inline;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
  }

.bottom-left {
    position: relative;
    text-align: left;
    bottom: 50px;
    left: 255px;
    font-size: 20px;
    font-weight: bold;
}

#self-pic {
    height: 200px;
}

#about-me {
    display: inline-block;
    position: relative;
}